@font-face
{
 font-family: 'MelaniScript';
 src: url('MelaniScript.otf') format('truetype') ;
}
.titrePresentation
{
 font-family: 'MelaniScript';
 padding-top: 60px;
}
.activ
{
 margin-left : 400px;
 padding-top: 70px;

}

strong{
 padding-top: 50px;
}


h4
{
 padding-top: 50px;
}



#titre
{
 margin-left: 250px;
}

.titreHeader
{
  /*margin-left: 100px;*/
  margin-top: 80px;
  margin-left: 50px;
  padding-bottom: 100px;
  font-family: 'JustSignature';
  font-size: 45px;
}

#menu_principal a 
{
  text-decoration:none
}

/*navbar*/
body
{
  /*font-size: 20.25px !important;*/
  background: url('img/background.jpg');
  background-size: cover;
  /*background-repeat: no-repeat;*/
}


nav
{
  width: 100%;
  background: #520000;
  line-height: 80px;
  /*margin-left: 20px;*/

}

#menu_principal ul 
{
  display: flex;
  padding: 0;
}



#menu_principal li 
{
  flex-grow: 1;
  align-items: stretch;
  text-align: center;
  list-style-type: none;
  /*display: inline-block;*/
  transition: 0.8s all;
  border-right: 1px solid white ;
  max-height: 90px;
}




/*pour faire la navbar responsiv*/

@media screen and (max-width: 500px)
{
  #menu_principal ul {
    flex-direction: column;
  }
  #menu_principal li 
  {
    border-bottom: 1px solid white ;
  }
}




nav ul li a 
{
  text-decoration: none;
  color: white;
}

